<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Doğal_Taş_Bilgilendirme_Sayfası_Temel_Arayüz.Properties.Settings.Dogal_Tas_Stok_TakipConnectionString"
            connectionString="Data Source=DESKTOP-BKILGTG\MSSQLSERVER03;Initial Catalog=Dogal_Tas_Stok_Takip;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>